<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:extractNativeLibs="true" android:icon="@mipmap/ic_launcher"
        android:label="Emergencia Bolivia Central"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBtLcvUaWZb02JBVg4VfIIMZqMo9ZRd6us" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenuActivity" />
        <activity android:name=".ReportEmergencyActivity" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".BomberosListActivity" />
        <activity android:name=".BomberoDetailActivity" />
        <activity android:name=".AmbulanciasListActivity" />
        <activity android:name=".AmbulanciaDetailActivity" />

    </application>
</manifest>